.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.auth .navbar{
    background-color: transparent;
}
.auth__form-container {
  padding: 1rem;
  background-color: #000000;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth__form-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.auth-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  margin-bottom: 20px;
}
.auth-input  input {
  align-self: center;
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
  color: white;
}
.auth-input  .input {
  align-self: center;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
  color: white;
}
.passwordIcon{
    color: white;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}

.auth-button {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  width: 100%;
  outline: none;
  height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}
.auth-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.auth-account p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
}
.auth-account span {
  color: rgb(255, 255, 255);
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}
.auth-account span:hover {
  color: rgb(255, 0, 0);
}

@media screen and (max-width: 1024px) {
}
/*  MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .auth__form-container {
    width: 90%;
  }
  .auth__form-container h1 {
    font-size: 1.5rem;
  }
  .auth-input input {
    font-size: 15px;
  }
  .auth-button {
    font-size: 15px;
  }
  .auth-account p {
    font-size: 15px;
  }
}
